<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>Desafio Web 1.0</title>
  </head>
  <body>
    <h1>Desafio Web 1.0</h1>
    <h2>* GERU *</h2>
    <h3>.:. Olá o meu nome é {{nome}} .:.</h3>
  </body>
</html>
