<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>Desafio Web 1.0 - Quotes</title>
  </head>
  <body>
    <h1>Quotes</h1>
    <ul>
    {% for frase in frases %}
      <li>{{frase}}</li>
    {% endfor %}
    </ul>
  </body>
</html>
